body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: var(--bg);
  color: var(--text);
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 10px;
  background: black;
  color: white;
  padding: 8px;
  border-radius: 4px;
}

.skip-link:focus {
  top: 10px;
}




header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: white;
  box-shadow: 0 3px 10px #ddd;
}

header nav a {
  margin-left: 20px;
  text-decoration: none;
  color: var(--text);
  border-radius: 6px;
  
}

header nav a:hover {
  background: #a19cf6;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 8px;
}

.search-bar input {
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 180px;
    transition: 0.3s;
}

.search-bar input:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.4);
}

.search-btn {
    padding: 10px 18px;
    border: none;
    background: var(--primary);
    color: rgb(8, 28, 88);
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
}

.search-btn:hover {
    background: #a19cf6;
}


@media (max-width: 768px) {
    .search-bar {
        margin: 10px 0;
        width: 100%;
        justify-content: center;
    }

    .search-bar input {
        width: 60%;
    }
}


.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #6c63ff, #a18bff);
  color: white;
  animation: slideDown 1s ease;
}

@keyframes slideDown {
  from { transform: translateY(-30px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.cta-btn {
  padding: 12px 25px;
  background: white;
  border: none;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
}

.cta-btn:hover {
  background: #eee;
}


section {
  padding: 60px 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  background: var(--card-bg);
  background-color: #c4baf0;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 10px #ddd;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: #a18bff;
}

.card img {
  width: 100%;
  border-radius: 12px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

form input, form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

form button {
  padding: 12px;
  border: none;
  background: var(--primary);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

footer {
  padding: 30px;
  text-align: center;
  background: #a18bff;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  header {
    flex-direction: column;
    align-items: center;
  }

  header nav a {
    margin: 5px 10px;
  }
}
